---
---

@import "{{ site.theme }}";



// base layout modifications

.inner {
	width: 1100px;
}

aside#sidebar {
    width: 350px;
}

// navigation

// nav {
// 	float: right;
// 	width: 200px;
// 	min-height: 504px;
// 	padding-left: 20px;
// 	font-size: 12px;
// 	line-height: 1.3;
// 	background: transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat;
// }

nav li.current {
    font-weight: bold;
    list-style-type: circle;
}

// specials

.hoverswitch {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    position: relative;
}

.pic {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.hoverswitch .new {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top:0;
}

.hoverswitch:hover .new {
    opacity: 1;
    transition: opacity 0.5s;
}
